@import "tailwindcss";

:root{
  --color-background: #1C1C28;
  --color-foreground-1: #2C2C3A;
  --color-foreground-2: #20202A;
  --color-text-secondary: #8c8cbe;
}

.bg-foreground-1{
  background-color: var(--color-foreground-1);
}

.bg-foreground-2{
  background-color: var(--color-foreground-2);
}

.bg-background{
  background-color: var(--color-background);
}

.text-secondary{
  color: var(--color-text-secondary);
}

html, body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.scroll-hidden {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

hr{
  border: 1px #89898d solid;
}