@import "tailwindcss";

:root {
  --color-background: #1c1c28;
  --color-foreground-1: #2c2c3a;
  --color-foreground-2: #20202a;
  --color-text-secondary: #8c8cbe;
  --color-primary: #facc15;
}

.bg-foreground-1 {
  background-color: var(--color-foreground-1);
}

.bg-foreground-2 {
  background-color: var(--color-foreground-2);
}

.bg-background {
  background-color: var(--color-background);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.color-primary {
  color: var(--color-primary);
}

html,
body {
  background-color: var(--color-background);
  margin: 0;
  padding-top: 10;
  overflow: hidden;
  height: 100%;
}

.scroll-hidden {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

hr {
  border: 1px #89898d solid;
}
